{{> mini/header}}

<!-- landng page section -->
<div class="#top">
    <div class="landing__page">
        <div class="landing__page-cover">
            <div class="landing__page-cover-content p-4">
                <h1 class="landing__page-title   white-text  ">Welcome To Editoral And Publicity
                    <br> CDS Group Saki-West Zone </h1>
                <a href="/about" class="btn btn-primary mb-1">More Details</a>
            </div>

        </div>
    </div>
    <!-- scrollUp -->
    <div class="scroll__up ">
        <a href="#top">
            <i class="fa fa-angle-double-up text-center text-primary"></i>
        </a>
    </div>
    <!-- section A -->
    <section class="section-a bg-primary">
        <div class="event__card text-center ">
            <div class="event__card-heading mt-2">
                <div class="mt-2"></div>
                <div class="p-1 ">EVENTS</div>
                <div class="mt-2"></div>
            </div>
        </div>

        {{> mini/flashmessage}}
        <div class="event__grid">
            <div class="event__grid-first ">
                {{#recentNews}}
                <div class="card m-1">
                    <div class="card__body text-center p-2">
                        <div class="card__body-title">
                            <h3 class="left">{{title}}</h3>
                        </div>
                        <div class="card__body-text mt-1">
                            <p class="short-word">{{text}}</p>
                            <a href="/event/{{slugtitle}}">
                                <i class="text-primary">read more ...</i>
                            </a>
                        </div>
                        <div class="card__body-img">
                            <img src="./img/post/Capture.png"  alt="news picture" class="news-image" width="500">
                        </div>
                        <div class="card__body-footer">
                            <p class="events__section b">
                                <i class="fas fa-comment mr-1 ">4+</i>
                                </a>
                                <i class="fas fa-thumbs-up 2x mr-1">23</i>
                                </a>
                                <i class="fas fa-thumbs-up 2x mr-1">5</i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {{/recentNews}}

            </div>

            <div class="event__grid-second">
                <article class=" p-1 m-2 ">
                    <h3 class="bg-dark p-1">About Nigeria</h3>
                    <p class="bg-dark p-2">The history of Nigeria can be traced to prehistoric settlers (Nigerians) living in the area as early as 1100 BC. <br> Numerous ancient African civilizations settled in the region that is today Nigeria. <a href="https://en.wikipedia.org/wiki/History_of_Nigeria" target="_blanck" class="text-primary">read more</a>
                    </p>
                </article>
                <article class="previous-news  p-1 m-2">
                    <h3 class="bg-dark p-1">Older News</h3>
                    {{#olderNews}}
                    <ol>
                        <li class="bg-dar">
                            <a class="color" href="/event/{{slugtitle}}">{{title}}</a>
                        </li>
                    </ol>
                    {{/olderNews}}
                </article>
            </div>
        </div>
    </section>

    <!---Section B---->
</div>
<section class="section__b ">
    <div class="section__b-grid">
        <div class="card m-1 " >
            <div class="card__body text-center p-2">
                <div class="card__body-img  ">
                    <img class="round-img" src="https://res.cloudinary.com/cmcwebcode/image/upload/v1574429979/IMG-20191122-WA0003_rzilld.jpg"  alt="" >
                </div>
                <div class="card__body-title">
                    <h3 class="">Mr Atere I.O</h3>
                </div>
                <div class="card__body-text mt-1">
                    <p><strong>Saki-West Local government Inspector  <br>(LGI)</strong> </p>
                </div>

                <div class="card__body-footer">
                    <p>
                        <a href="#">
                            <i class="fab fa-facebook-f 2x"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter 2x"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram 2x"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card m-1" >
            <div class="card__body text-center p-2">
                <div class="card__body-img  ">
                    <img class="round-img" src="https://res.cloudinary.com/cmcwebcode/image/upload/v1574429943/IMG-20191114-WA0020_warnsv.jpg"  alt="" >
                </div>
                <div class="card__body-title">
                    <h3 class="">Okpara Ifeanyi Dominic <br></h3>
                </div>
                <div class="card__body-text mt-1">
                    <p><strong>OY/19A/2951 <br>Corper Liason Officer (CLO)</strong>  </p>
                </div>

                <div class="card__body-footer">
                    <p>
                        <a href="/dominicgoldens" target="_blanck">
                            <i class="fab fa-facebook-f 2x"></i>
                        </a>
                        <a href="@dominicgoldens" target="_blanck">
                            <i class="fab fa-twitter 2x"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram 2x"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card m-1  " data-delay="4s">
            <div class="card__body text-center p-2">
                <div class="card__body-img  ">
                    <img class="round-img" src="https://res.cloudinary.com/cmcwebcode/image/upload/v1573994923/Capture_tuydzi.png"  alt="" >
                </div>
                <div class="card__body-title">
                    <h3 class="">Chinweike Michael Chinonso</h3>
                </div>
                <div class="card__body-text mt-1">
                    <p> <strong>OY/19A/0131 <br> Editor in Chief</strong> </p>
                </div>
                <div class="card__body-footer">
                    <p>
                        <a href="https://web.facebook.com/chinweikemichael.chinonso?ref=bookmarks" target="_blanck">
                            <i class="fab fa-facebook-f 2x"></i>
                        </a>
                        <a href="https://twitter.com/Mr_Cmc1?s=08" target="_blank">
                            <i class="fab fa-twitter 2x"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram 2x"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{> mini/footer}}
